# Telegram Bot настройки
BOT_TOKEN=7246350542:AAG05DyqmwOsGKJd4FZv58pFdAgCl-69HeI
ADMIN_CHAT_ID=6391708212

# Т-Банк (Tinkoff) платежная система
TINKOFF_TERMINAL_KEY=1769081750030
TINKOFF_PASSWORD=d^cN_36^ukkqbwbU
TINKOFF_API_URL=https://securepay.tinkoff.ru/v2/

# Базовый URL вашего приложения
BASE_URL=https://ваш-домен.com

# Порт приложения (внутренний)
PORT=3000

# Окружение
NODE_ENV=production
